{% extends 'base.html' %}
{% block body %}
<div>
    {{ username }}'s home page (<a href="logout">Logout</a>)
</div>
<div>
    <ol>
    {% for list in lists %}
        <li>{{ list.date }}: <a href="{% url 'memorizing_list' pk=list.pk %}">{{ list.name }}</a> |progress|</li>
    {% endfor %}
    </ol>
</div>

<!--  <p>Last list: <a href="{{ last_list_link }}">{{ last_list_name }} ({{ last_list_percent }} %)</a></p>-->
<!--  <p><a href="">add new list</a></p>-->
<!--  <table border="1" style="border-collapse: collapse; width: 100%;">-->
<!--    <tr>-->
<!--      <td style="width: 100px;">date</td>-->
<!--      <td>list</td>-->
<!--    </tr>-->
<!--  </table>-->
{% endblock %}
