{% extends 'base.html' %}
{% block body %}
<form class="memorizing_list" method="post"> {% csrf_token %}
    List name: <input class="header_name" type="text" value="{{ memorizing_list.name }}">
    Completed:
    {% if memorizing_list.completed %}
        <input class="header_completed" type="checkbox" checked="checked">
    {% else %}
        <input class="header_completed" type="checkbox">
    {% endif %}
    <input class="button_save" name="save" type="submit" value="save">
    <br>
    <ol>
    {% for line in memorizing_lines %}
        <li>
            <button class="button_remove" name="remove" type="submit" value="{{ line.pk }}">remove</button>
            {{ line.word.eng_word }} - {{ line.word.rus_word }}
        </li>
    {% endfor %}
    <li>
        <button class="button_remove" name="add_line" type="submit" value="{{ 0 }}">add</button>
        <select class="select" name="new_line">
            <option>...</option>
            {% for word in user_words %}
                <option>{{ word.eng_word }} - {{ word.rus_word }}</option>
            {% endfor %}
        </select>
    </li>

    </ol>
    <input class="button_run" name="run" type="submit" value="run">
</form>
{% endblock %}